.login-container {
    margin: 70px auto;
    padding: 50px;
    width: 40%;
    height: 40vh;
    background-color: rgb(192, 208, 224);
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px #69696971;
}


.signin-container {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 50px auto;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    font-size: 20px;
    background-color: rgba(104, 156, 158, 0.411);
    box-shadow: 5px 5px 5px #69696971;
    transition: all  0.25s ease-in-out;
}

.signin-container:hover {
    background-color: rgba(83, 124, 126, 0.411);
}

.signin-container img {
    padding: 20px;
}

@media (max-width:480px) {
    .login-container {
        box-sizing: border-box;
        width: 90%;
        height: 80%;
    }

    .login-container h2 {
        font-size: 20px;
        width: 100%;
        line-height: 1.5;
    }
    .signin-container {
        width: 100%;
        font-size: 15px;
        font-weight: bold;
    }

}